{% extend ''base.html'}

{% block title %}
    Confirm Email Address
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Confirm Email Address</h1>
        {% if can_confirm %}
            <p>Please confirm that <a href="mailto:{{ confirmation.email_address.email }}"></a> is an email address for user {{ confirmation.email_address.email }}</p>
            <form action="{% url 'account_confirm_email' confirmation.key %}" method="post"> {% csrf_token %}
                <input type="submit" value="Confirm" class="btn btn-success d-block mx-auto" >
            </form>
        {% else %}
            <p>Unable to confirm {{ confirmation.email_address.email }} because it is already confirmed by a differernt account.</p>
        {% endif %}
    </div>
{% endblock %}